.section_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 100px;
  margin-bottom: 50px;
  background-color: var(--color-bg-main);
}

.about_container {
  display: flex;
  width: 90%;
  max-width: 50em;
  justify-self: center;
  margin: 0 auto;
  gap: 2rem;
}
.about_container-img {
  width: 100%;
  display: block;
  height: 350px;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0px 3px 8px black;
}
.about_container-text h2 {
  font-size: var(--font--text-main);
  font-size: clamp(1.4rem, 3vw, 2rem);
  line-height: 1.25;
}

.about_container-text p {
  font-size: var(--font--text-p);
  font-size: clamp(0.9rem, 2vw, 1.15rem);
  line-height: 1.6;
}

.about_box {
  display: flex;
  gap: clamp(1rem, 1vh, 4rem);
  width: 100%;
  max-width: 40em;
  height: auto;
  justify-self: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.about_box-container {
  display: block;
  text-align: center;
  justify-items: center;
  width: min(250px, 95%);
  height: auto;
  padding: 30px 30px 30px 30px;
  border-radius: 12px;
  border: none;
  background-color: var(--color-primary-soft);
  box-shadow: 0px 3px 8px black;
  transition: scale 1s ease;
  color: var(--color-text-muted);
}

.about_box-container h3 {
  font-size: var(--font--text-h3);
  font-weight: 900;
  font-size: clamp(1rem, 1vw, 1.5rem);
}

.about_box-container p {
  font-size: clamp(var(--fs-p-min), 2vw + 0.25rem, var(--fs-p-max));
  font-size: clamp(0.8rem, 0.8vw, 1rem);
}

.about_box-container:hover {
  border: 2px solid black;
  box-shadow: 3px 3px 24px gray;
}

.about_box-container img {
  height: 50%;
  width: auto;
}

.about-icon {
  color: #ffffff; /* controla a cor do stroke */
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .about_container {
    display: flex;
    flex-direction: column;
  }
  .about_container-img {
    width: 100%;
    display: block;
    height: 350px;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0px 3px 8px black;
  }
}

@media (max-width: 980px) {
  .about_box {
    display: flex;
    flex-wrap: wrap;
    max-width: 15em;
  }
}
