.impact_box {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  background-color: var(--color-bg-main);
}

.impact_box-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.impact_box-text h2 {
  font-size: 34px;
  margin-bottom: 10px;
  color: var(--color-text-main);
  font-size: var(--font--text-main);
}

.impact_box-text p {
  font-size: var(--font--text-p);
  color: var(--color-text-muted);
}

.impact_container {
  display: flex;
  justify-content: space-evenly;
  gap: clamp(1rem, 1vh, 4rem);
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.impact_container-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 100px;
  background-color: var(--color-primary-soft);
  border-radius: 12px;
  box-shadow: 2px 5px 6px gray;
}

.impact_container-box p {
  font-size: var(--font--text-p);
}

.impact_container-box:hover {
  border: 2px solid gray;
  box-shadow: 2px 5px 9px rgb(144, 105, 111);
}
