:root {
  --color-primary: #e1acce;
  --color-primary-soft: #eed2e3;
  --color-body: #f5f5f4;

  --color-bg-main: #ffffff;
  --color-bg-soft: #e0d3db;

  --color-text-main: #1a1a1a;
  --color-text-muted: #6b6b6b;
}

.donation_section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.donation_section-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.donation_section-title > h2 {
  font-size: 50px;
  margin-bottom: 10px;
  color: var(--color-text-main);
}

.donation_section-title > p {
  font-size: 40px;
  color: var(--color-text-main);
}

.donation_content {
  margin-top: 30px;
}

.donation_content-text {
  font-size: 20px;
}

.donation_content-contact {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 20px;
}

.donation_content-contact > p {
  font-size: 24px;
  font-weight: 600;
}
