.donation_section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.donation_section-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.donation_section-title > h2 {
  font-size: 50px;
  margin-bottom: 10px;
  color: var(--color-text-main);
}

.donation_section-title > p {
  font-size: 40px;
  color: var(--color-text-main);
}

.donation_content {
  margin-top: 30px;
}

.donation_content-text {
  font-size: 20px;
}

.donation_content-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  max-width: 700px;
  height: auto;
  gap: 3rem;
  margin-top: 20px;
  background-color: var(--color-bg-soft);
  border-radius: 20px;
  padding: 2em;
  box-shadow: 0px 2px 3px #000000;
}

.donation_content-contact > p {
  font-size: 24px;
  font-weight: 600;
}
