.donation_section {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  justify-self: center;
  text-align: center;
  gap: 2rem;
}
.donation_section-title {
  margin-top: 50px;
}
.donation_content {
  width: 900px;
  height: auto;
  border: none;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 30px;
  margin: 25px 0px 100px 0px;
}

.donation_content-up {
  margin-bottom: 50px;
}

.donation_content-contact::before {
  content: "";
  position: absolute;
  width: 800px;
  height: 1.5px;
  background-color: black;
  transform: translate(-50%, -400%);
}

.donation_content-contact-bot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.donation_content-contact-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 300px;
  height: auto;
  padding: 30px;
  border: 0.5px solid #ffffff;
  border-radius: 18px;
  background-color: #f9f7f5;
}

.donation_content-contact-box_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donation_contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 7rem;
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 18px;
  background-color: #ffffff;
}

.copy_button {
  background-color: transparent;
  border: none;
}
