.header {
  position: sticky;
  z-index: 50;
  top: 0px;
  background: rgba(255, 255, 255, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

.header_container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  gap: 1rem;
  padding: 1rem;
}

.header__nav-group--left {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
}

.nav-group--container-left {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.header_logo {
  max-height: 6em;
  height: auto;
}

.title {
  font-size: clamp(0.6rem, 1vw + 0.5rem, 1.5rem);
  font-weight: bold;
}

.message {
  font-size: clamp(0.3rem, 0.5vw + 0.5rem, 0.8rem);
  font-weight: bold;
  line-height: 1.6;
}

.sub_message {
  font-size: clamp(var(--fs-p-min), 1vw + 0.25rem, var(--fs-p-max));
}
.header_nav-group--center {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex: 1;
  justify-content: end;
  margin-right: 15px;
}

.header_nav-group--center > a {
  font-size: clamp(0.7rem, 0.8vw + 1rem, 1rem);
  font-weight: 600;
  color: var(--color-text-main);
  transition: color 0.5s ease;
}

.header_nav-group--center a:hover {
  color: rgb(156, 156, 156);
}

@media (max-width: 480px) {
  .nav-group--container-left-text {
    display: none;
  }
  .menu-overlay {
    display: none;
  }
}

@media (max-width: 980px) {
  .nav-group--container-left-text {
    display: none;
  }
  .header_nav-group--center {
    display: none;
  }

  .header_container {
    display: none;
  }
}
