.header {
  position: sticky;
  z-index: 50;
  top: 0px;
  background: rgba(255, 255, 255, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

.header_container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.75rem 1rem;
}

.header__nav-group--left {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  min-width: 0; /* allow contents to shrink without forcing row growth */
}

.nav-group--container-left {
  display: flex;
  flex-direction: row;
  width: auto;
  min-width: 0;
}
.header_logo {
  max-height: 6em;
  height: auto;
}

.title {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: bold;
}

.message {
  font-size: clamp(0.5rem, 1vw, 1rem);
  font-weight: bold;
  line-height: 1.6;
}

.sub_message {
  font-size: clamp(0.4rem, 1vw + 1rem, 0.6rem);
}

.header_nav-group--center > a {
  font-size: clamp(0.7rem, 0.8vw + 1rem, 1rem);
  font-weight: 600;
  color: var(--color-text-main);
  transition: color 1s ease;
}

.header_nav-group--center a:hover {
  color: var(--color-text-muted);
}

.header_nav-group--center {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex: 1;
  justify-content: center;
}

.header__nav-group--right {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  flex: 0 0 auto;
}

.menu {
  display: block;
}

.donate-button {
  /*Better padding and size IMPORTANT*/
  display: flex;
  min-height: 44px;
  align-items: center;
  justify-content: center;
  padding: clamp(0.6em, 1vw, 0.8em) clamp(1.1em, 2vw, 1.5em);

  background-color: var(--color-bg-soft);
  color: white;
  border: none;
  border-radius: 999px;
  padding: 8px;
  font-weight: bold;
  font-size: 1rem;
  gap: 0.4em;
  transition: background-color 1s ease-in;
  position: relative;
}

.donate-button span {
  transition: transform 2s ease-out;
}

.button-icon {
  transition: transform 2s ease-out;
}

.donate-button:hover {
  background-color: hsl(324, 44%, 76%);
  box-shadow: 0px 3px 4px gray;
}

.donate-button:hover span {
  transform: translateX(6em);
}

.donate-button:hover .button-icon {
  transform: translateX(1.1em);
  animation: beating 3s infinite ease 1s;
}

@keyframes beating {
  0% {
    scale: 1;
  }
  30% {
    scale: 1.05;
  }
  35% {
    scale: 1.1;
  }
  40% {
    scale: 1.2;
  }
  45% {
    scale: 1;
  }
  50% {
    scale: 1;
  }
  70% {
    scale: 1.09;
  }
  75% {
    scale: 1.1;
  }
  80% {
    scale: 1.2;
  }
  90% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

@media (max-width: 768px) {
  .header__nav-group--left {
    display: none;
  }
  .header_nav-group--center {
    display: none;
  }
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }
}

@media (max-width: 480px) {
  .nav-group--container-left-text {
    display: none;
  }
}
