.header {
  position: sticky;
  z-index: 50;
  top: 0px;
background: rgba(255, 255, 255, 0.46);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.5px);
-webkit-backdrop-filter: blur(6.5px);
border: 1px solid rgba(255, 255, 255, 0.3);

  
}

.header > div {
  display: flex;  
  align-items: center; 
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  max-height: 100px;
  color: var(--color-text-main)
}

.header__nav-group--left{
 display: flex; 
 flex-direction: row;
 align-items: center;
 width: 100%;
 
}

.nav-group--container-left {
  display: flex;
  flex-direction: column;
  

}
.header_logo {
  width: 28%;
  height: auto;  
  object-fit: contain;
  margin: 10px;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.message {
  font-size: 10px;
  font-weight: bold;
}

.sub_message{
  font-size: 8px;

}

.header_nav-group--center{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}



.header_nav-group--center img {
  width: 3.8%;
  height: auto;
  transform: rotate(50deg);
}


.donate-button {  /*Better padding and size IMPORTANT*/
  display: flex;
  max-height: 50px;
  max-width: 100px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 24px;
  padding: 8px;
  font-weight: bold;
  font-size: 16px;
  gap: 0.1rem;
  transition: color 0.2s ease-out;
  
  
}

.donate-button_icon--outline {
  width: 50%;
  height: auto;
  object-fit: contain;
  transition: opacity 0.2s ease-out;  
}

.donate-button_icon--filled{
  opacity: 0; 
  position: absolute;
  width: 5%;                 /* need to do better scalling*/
  object-fit: contain;
  height: auto;
  transition: opacity 0.4s ease-in;
}


.donate-button:hover{
  color: transparent;
}

.donate-button:hover {  
  background-color:#e7bad6;
  transform: translateY(-1);
}



.donate-button_icon--outline:hover{
  opacity: 0;
}

.donate-button_icon--filled:hover{
  opacity: 1;
}

