.hero_container {
  width: 100%;
  height: auto;
  position: relative;
  background-color: var(--color-bg-soft);
}

.hero_container::before {
  content: "";
  position: absolute;
  inset: 0; /* top, right, bottom, left = 0 */
  background: linear-gradient(
    to bottom,
    rgba(233, 150, 172, 0.55),
    rgba(0, 0, 0, 0.35)
  ); /*translucid img above */
  z-index: 1;
}

.hero_container-img {
  width: 100%;
  height: auto;
  max-height: 600px; /* não ultrapassa 700px de altura */
  object-fit: cover;
  box-shadow: 0px 3px 4px gray;
}

.hero_container-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 150px;
  margin-inline: auto;
}

.hero_container-text h1 {
  color: white;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  font-size: 34px;
  font-weight: 800;
}

.hero_container-text p,
.hero_container-text a {
  color: white;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  font-size: 24px;
  font-weight: 800;
}

/* garante que o pseudo-elemento absoluto seja posicionado em relação ao <p> */
.hero_container-text p {
  position: relative;
}

.arrow {
  position: absolute;
  left: 50%;
  top: 5px;
  width: 4px;
  height: 28px;
  background-color: white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  z-index: 3;
  will-change: transform;
  animation: bounce 1.5s infinite ease-in-out;
}

.arrow::before {
  content: "";
  position: absolute;
  right: 5px;
  top: 14px;
  width: 4px;
  height: 17px;
  background-color: white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  transform: rotate(-45deg);
}

.arrow::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 14px;
  width: 4px;
  height: 17px;
  background-color: white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  transform: rotate(45deg);
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(20%);
  }
  90% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(7%);
  }
  100% {
    transform: translateY(0%);
  }
}
