.hero_container {
  width: 100%;
  height: auto;
  height: auto;
  position: relative;
}

.hero_container::before {
  content: "";
  position: absolute;
  inset: 0; /* top, right, bottom, left = 0 */
  background: linear-gradient(
    to bottom,
    rgba(128, 128, 128, 0.185),
    rgba(0, 0, 0, 0.35)
  ); /*translucid img above */
  z-index: 1;
}

.hero_container-img {
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: cover;
  box-shadow: 0px 3px 4px gray;
}

.hero_container-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 150px;
}

.hero_container-text h1 {
  color: white;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  font-size: clamp(1rem, 2vw + 1rem, 2.5rem);
  font-weight: 800;
}

.hero_container-text p,
.hero_container-text a {
  color: white;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  font-size: clamp(1.5rem, 2vw+ 1rem, 2rem);
  font-weight: 800;
}

.hero_container-text p {
  position: relative;
}

.arrow {
  position: absolute;
  left: 50%;
  top: 5px;
  width: 4px;
  height: 28px;
  background-color: white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  z-index: 3;
  will-change: transform;
  animation: bounce 1.5s infinite ease-in-out;
}

.arrow::before {
  content: "";
  position: absolute;
  right: 5px;
  top: 14px;
  width: 4px;
  height: 17px;
  background-color: white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  transform: rotate(-45deg);
}

.arrow::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 14px;
  width: 4px;
  height: 17px;
  background-color: white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  transform: rotate(45deg);
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(20%);
  }
  90% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(7%);
  }
  100% {
    transform: translateY(0%);
  }
}

@media (max-width: 780px) {
  .hero_container-text {
    inset: 30px 5px;
    font-size: clamp(1rem, 0.5vw + 0.25rem, 1rem);
  }
}

@media (max-height: 900px) {
  .hero_container-img {
    min-height: 50vh;
  }
}
