.menu-button {
  position: fixed;
  top: 0.75rem;
  right: 0.75rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: white;
  border: none;
  border-radius: 999px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition:
    scale 1s ease,
    border 2s ease-in;
  z-index: 60;
}

.menu-button:hover {
  scale: 1.1;
  border: 1px solid rgb(206, 206, 206);
}

.menu-overlay {
  position: fixed;
  inset: 0;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  display: flex;
  justify-content: flex-end;
}

.hidden_menu {
  position: relative;
  top: 0.15rem;
  right: 0rem;
  background: hsl(0 0 100% / 0.7);
  border-radius: 18px 0 18px 18px;
  width: 55%;
  max-height: calc(100vh - 7rem);
  height: fit-content;
  z-index: 9999;
  gap: 1rem;
  display: flex;
  justify-self: right;
}

.hidden-nav_bar {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 1rem;
  justify-content: center;
}

.hidden_nav-row {
  display: flex;
  gap: 1rem;
  padding: var(--space-xs);
}

.hidden_menu {
  transform: translateX(100%);
  transition: transform 0.6s ease;
}

.hidden_menu.entering {
  transform: translateX(0);
}

.hidden_menu.leaving {
  transform: translateX(100%);
}

@media (min-width: 980px) {
  .menu-button {
    display: none;
  }
  .menu_hidden-logo {
    display: none;
  }
  .hidden_menu {
    display: none;
  }
}

@media (min-height: 700px) {
}
