/* ==== CSS RESET / BASE ==== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-body);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* Improve text wrapping */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*====== COLORS =======*/

:root {
  --color-primary: #e1acce;
  --color-primary-soft: hsl(324, 45%, 88%);
  --color-body: #f5f5f4;

  --color-bg-main: #ffffff;
  --color-bg-soft: #e0d3db;

  --color-text-main: #000f08;
  --color-text-muted: #5e6572;
  --color-text-contrast: #ebebeb;

  /*====== font-size=======*/
  --font--text-main: 3rem;
  --font--text-h3: 1.5rem;
  --font--text-p: 1.3rem;
}
