/* ==== CSS RESET / BASE ==== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-body);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* Improve text wrapping */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*====== COLORS =======*/

:root {
  --color-primary: #e1acce;
  --color-primary-soft: hsl(324, 45%, 88%);
  --color-body: #f5f5f4;

  --color-bg-main: #ffffff;
  --color-bg-soft: #e0d3db;

  --color-text-main: #000f08;
  --color-text-muted: #5e6572;
  --color-text-contrast: #ebebeb;

/*===text====*/
 --fs-p-min: 0.95rem;
  --fs-p-max: 1.15rem;
  /* vw + 0.25rem*/

  /*===== Títulos==== */
  --fs-h3-min: 1.1rem;
  --fs-h3-max: 1.4rem;

  --fs-h2-min: 1.4rem;
  --fs-h2-max: 2rem;

  --fs-h1-min: 2rem;
  --fs-h1-max: 3.2rem;

  /*===== Espaçamentos==== */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
}


/*
Uso	                  Unidade	    Valores seguros
Hero height	          vh	            50–70vh
Section padding	      vh	            6–12vh
Card  width	          vw	            20–30vw
Card  height	        vw	            18–25vw
Ícones                vw	            10–15vw
Texto	                vw	            2–5vw (com clamp)
