.container-objective {
  width: 100%;
}

.container-objective_header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5rem 1rem;
  margin: 0 auto;
}

.container-objective_header > h2 {
  font-size: clamp(var(--fs-h2-min), 3vw + 0.5rem, var(--fs-h2-max));
  margin-bottom: 5px;
  color: var(--color-text-main);
}

.container-objective_header > p {
  font-size: clamp(var(--fs-h3-min), 3vw + 0.5rem, var(--fs-h3-max));
  color: var(--color-text-muted);
}
.container-objective--box {
  display: grid;
  grid-template-columns: (2, 1fr);
  gap: 2rem;
  margin-top: 35px;
}

.container-objective--box_content {
  display: flex;
  gap: 1rem;
  border: 1px solid var(--color-bg-main);
  padding: 15px;
  background-color: var(--color-bg-soft);
  box-shadow: 0px 2px 4px gray;
}

.container-objective--box_content:hover {
  border: 1.5px solid var(--color-text-muted);
}

.container-objective--box_content-text {
  display: flex;
  flex-direction: column;
}

.container-objective--box_content-text p {
  font-size: clamp(var(--fs-p-min), 0.5vw + 0.25rem, var(--fs-p-max));
  color: var(--color-text-muted);
}

.objective-icon,
.objective-icon-heart {
  min-width: 60px;
  height: auto;
}

@media (max-width: 728px) {
  .container-objective {
    padding: 0;
  }
  .container-objective--box {
    width: 100%;
    height: auto;
  }
  .container-objective--box_content {
    width: 100%;
    height: auto;
  }
}
