.container-objective {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 50px;
  padding: 100px;
}

.container-objective_header {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.container-objective_header > h2 {
  font-size: clamp(var(--fs-h2-min), 3vw + 0.5rem, var(--fs-h2-max));
  margin-bottom: 5px;
  color: var(--color-text-main);
}

.container-objective_header > p {
  font-size: clamp(var(--fs-h3-min), 3vw + 0.5rem, var(--fs-h3-max));
  color: var(--color-text-muted);
}
.container-objective--box {
  display: grid;
  grid-template-columns: (2, 0.5fr);
  gap: 2rem;
  margin-top: 35px;
}

.container-objective--box_content {
  display: flex;
  gap: 1rem;
  border: 1px solid var(--color-bg-main);
  padding: 15px;
  background-color: var(--color-bg-soft);
  box-shadow: 0px 2px 4px gray;
}

.container-objective--box_content:hover {
  border: 1.5px solid var(--color-text-muted);
}

.container-objective--box_content-text {
  display: flex;
  flex-direction: column;
}

.objective-icon,
.objective-icon-heart {
  min-width: 60px;
  height: auto;
}
